* { font-family: 'Playfair Display', serif;
    

}

header {
    background-color: rgb(88, 139, 139);
    /* height: 100px; */

    

}

footer  {
    background-color: rgb(242, 143, 59);
    
}

.border {
    background-color: royalblue;
    height: 100px;

}

.card-img-top {
    object-fit:cover;
}


button:hover {
    background-color: steelblue;
    
}



